*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    height: 150px;
    flex-wrap: wrap;
}

#minicontain{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    background-color: yellow;
    height:30px;
    width:30px;  
}

