* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 64, 64);
}

.card {
    margin: 7px;
}
                                                                          